@import url("./css/skeleton.css");

h1 {
  padding: 0.5em;
}
.desc {
  font-size: 20px;
  text-align: center;
}
.button {
  width: auto !important;
  -webkit-tap-highlight-color: transparent;
  transition: 0.05s linear;
}
.button:hover, .button:focus{
  background: #222;
  color: #fff;
}
.container {
  margin: 1em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.container > .button {
  margin: 5px;
  width: inherit;
}

/* Basic styling for the grid container */
.tryPos {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0px;
    justify-content: center; /* Centers the grid items horizontally */
}

/* Basic styling for the grid items */
.tryPos > .button {
    text-align: center !important;
    margin: 5px;
}

i {
  opacity: 0.6;
}

md-block {
  overflow-x: scroll;
}