@import url("./css/skeleton.css");
@import url("./css/component.css");
* {
  -webkit-tap-highlight-color: transparent;
}
h1 {
  padding: 0.5em;
}
.desc {
  font-size: 20px;
  text-align: center;
}
.button {
  width: auto !important;
  transition: 0.05s linear;
}
.button:hover, .button:focus{
  background: #222;
  color: #fff;
}