:root {
  --color-dark: #f8f9fa;
  --color-light: #222222;
  --color-success: #145122;
  --color-danger: #9c1a26;
  --color-info: #106d7c;
  --color-warning: #7e5e00;
  
  --bg-light: #fafafa;
  --bg-dark: #1c1c1c;
  --bg-success: #c3e6cb;
  --bg-danger: #f5c6cb;
  --bg-info: #bee5eb;
  --bg-warning: #fff0c1;
}



.toast-notification {
  position: fixed;
  text-decoration: none;
  z-index: 999999;
  max-width: 300px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0);
  border-radius: 4px;
  display: flex;
  padding: 10px;
  transform: translate(0, -150%);
}
.toast-notification .toast-notification-wrapper {
  flex: 1;
  padding-right: 10px;
  overflow: hidden;
}
.toast-notification .toast-notification-wrapper .toast-notification-header {
  padding: 0 0 5px 0;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  word-break: break-all;
  color: var(--color-light);
}
.toast-notification.toast-notification-light {
background: var(--bg-light);
}
.toast-notification .toast-notification-wrapper .toast-notification-content {
  font-size: 14px;
  margin: 0;
  padding: 0;
  word-break: break-all;
  color: var(--color-light);
}
.toast-notification .toast-notification-close {
  appearance: none;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 24px;
  padding: 0;
  width: calc(fit-content + 5px);
  height:fit-content;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}
.toast-notification .toast-notification-close:hover {
  color: rgba(0, 0, 0, 0.4);
}
.toast-notification.toast-notification-top-center {
  transform: translate(calc(50vw - 50%), -150%);
}
.toast-notification.toast-notification-bottom-left, .toast-notification.toast-notification-bottom-right {
  transform: translate(0, 150%);
}
.toast-notification.toast-notification-bottom-center {
  transform: translate(calc(50vw - 50%), 150%);
}






.toast-notification.toast-notification-dark {
  background-color: var(--bg-dark);
}
.toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-header {
  color: var(--color-dark);
}
.toast-notification.toast-notification-dark .toast-notification-wrapper .toast-notification-content {
  color: var(--color-dark);
}
.toast-notification.toast-notification-dark .toast-notification-close {
  color: rgba(255, 255, 255, 0.2);
}
.toast-notification.toast-notification-dark .toast-notification-close:hover {
  color: rgba(255, 255, 255, 0.4);
}





.toast-notification.toast-notification-success {
  background-color: var(--bg-success);
}
.toast-notification.toast-notification-success .toast-notification-wrapper .toast-notification-header {
  color: var(--color-success);
}
.toast-notification.toast-notification-success .toast-notification-wrapper .toast-notification-content {
  color: var(--color-success);
}
.toast-notification.toast-notification-success .toast-notification-close {
  color: rgba(0, 0, 0, 0.2);
}
.toast-notification.toast-notification-success .toast-notification-close:hover {
  color: rgba(0, 0, 0, 0.4);
}



.toast-notification.toast-notification-warning {
  background-color: var(--bg-warning);
}
.toast-notification.toast-notification-warning .toast-notification-wrapper .toast-notification-header {
  color: var(--color-warning);
}
.toast-notification.toast-notification-warning .toast-notification-wrapper .toast-notification-content {
  color: var(--color-warning);
}
.toast-notification.toast-notification-warning .toast-notification-close {
  color: rgba(0, 0, 0, 0.2);
}
.toast-notification.toast-notification-warning .toast-notification-close:hover {
  color: rgba(0, 0, 0, 0.4);
}



.toast-notification.toast-notification-danger {
  background-color: var(--bg-danger);
}
.toast-notification.toast-notification-danger .toast-notification-wrapper .toast-notification-header {
  color: var(--color-danger);
}
.toast-notification.toast-notification-danger .toast-notification-wrapper .toast-notification-content {
  color: var(--color-danger);
}
.toast-notification.toast-notification-danger .toast-notification-close {
  color: rgba(0, 0, 0, 0.2);
}
.toast-notification.toast-notification-danger .toast-notification-close:hover {
  color: rgba(0, 0, 0, 0.4);
}




.toast-notification.toast-notification-info {
  background-color: var(--bg-info);
}
.toast-notification.toast-notification-info .toast-notification-wrapper .toast-notification-header {
  color: var(--color-info);
}
.toast-notification.toast-notification-info .toast-notification-wrapper .toast-notification-content {
  color: var(--color-info);
}
.toast-notification.toast-notification-info .toast-notification-close {
  color: rgba(0, 0, 0, 0.2);
}
.toast-notification.toast-notification-info .toast-notification-close:hover {
  color: rgba(0, 0, 0, 0.4);
}




.toast-notification.toast-notification-dimmed {
  opacity: .3;
}
.toast-notification.toast-notification-dimmed:hover, .toast-notification.toast-notification-dimmed:active {
  opacity: 1;
}